.divResults{
    max-width: 346px;
    margin-top: 20px;
    /* margin-left: auto; */
    /* margin-right: 10px; */
    text-align: right;
}
.divResultClick{
    max-width: 346px;
    margin-top: 20px;
    display: flex;
}
.TextCondition{
 margin-right: 15px;
    width: 160px;
}